*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after {display: table;  content: ''; }
.clearfix:after { clear: both; }

body {
	background: #171717;
	color: #333;
	font-size: 1em;
	font-family: 'Questrial', 'Avenir', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

audio {
    visibility: hidden;
    right: 0;
    top: 0;
    padding: 5px;
    pointer-events: none;
}

p {
    pointer-events: none;
    position: absolute;
    padding: 5px;
    left: 59px;
    top: 0;
    font-family: "Segoe UI";
    font-size: 10px;
    color: silver;
    text-shadow: 2px 2px 2px #000000;
}

.myheader {
	text-align: center;
	height: 100vh;
	overflow: hidden;
	background: url(../img/bg.png) no-repeat center center;
	background-size: 120%;
}

.myheader h1 {
	margin: 0.5em 0 0;
	letter-spacing: -1px;
	font-weight: 400;
	font-size: 4.25em;
	line-height: 1;
	position: absolute;
	width: 100%;
	top: 25vh;
	pointer-events: none;
    	font-family: "Segoe UI";
    	color: silver;
    	text-shadow: 2px 2px 2px #000000;
}

.bgtiltmage {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	overflow: hidden;
}

.bgtiltmage__imgwrap {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.bgtiltmage__imgwrap::after {
	content: '';
	position: absolute;
	background: rgba(76,0,1,0.1);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.bgtiltmage__img {
	position: absolute;
	top: 50%;
	left: 50%;
	width: auto;
	height: 100vh;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.bgtiltmage__imgwrap .tilt__back,
.bgtiltmage__imgwrap .tilt__front {
	background-size: auto 100vh;
}

.links {
    position: fixed;
    bottom: 5%;
    width: 100%;
    text-align: center;
}
.icons {
    width: 40px;
    padding: 5px;
    box-shadow: 2px;
    display: inline;
}

.song_cover{
    position: absolute;
    width: 40px;
    left: 0;
    top: 0;
    margin: 10px;
    border: 0;
    box-shadow: 2px;
    pointer-events: none;
    display: inline;
}