h1 {
    text-align: center;
    font-family: "Segoe UI";
    font-size: 24px;
    color: silver;
}
nav {
    text-align: center;
    font-family: "Segoe UI";
    font-size: 16px;
}
body{
    background-image: url("images/bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
footer{
    text-align: center;
    font-family: "Segoe UI";
    color: silver;
}